<!DOCTYPE html>
<html style="box-sizing: border-box;overflow: -moz-scrollbars-vertical;overflow-y: hidden;">

<head>
  <title>Documentation</title>
  <link rel="icon" href="/assets/favicon.ico">
</head>

<body style="margin: 0;">
  <div
    style="height: 937px; background-image: url('/assets/images/404.jpg');background-position: center;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <div style="text-align: center;">
      <div style="color: #fff !important;">
        <h1 style="margin-top: 0;padding-top: 6rem;font-size: 8rem;font-weight: 600;font-family: sans-serif;">
          Ooops...</h1>
      </div>
      <p
        style="margin-top: 3rem;font-size: 2.3rem;font-weight: 500;line-height: 3rem;color: #fff !important;margin-bottom: 1rem;font-family: sans-serif;">
        Looks like this page doesn't exist.
        <br>
        <br _ngcontent-qis-c1="">
        <a style="color: #fff;font-family: sans-serif;" href="/">Home</a></p>
    </div>
  </div>
</body>

</html>